@{

    var httpContext = new HttpContextAccessor().HttpContext;

    // Get the cookie with the name "User"
    var cookie = ViewContext.HttpContext.Request.Cookies["User"];

    // Deserialize the JSON data into a Users object
    Users user = null;
    if (cookie != null)
{
    user = JsonConvert.DeserializeObject<Users>(cookie);
}
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Event</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Event.styles.css" asp-append-version="true" />
    <link href="https://img.icons8.com/ios/400/audi.png" rel="icon">
    <link href="@Url.Content("~/Images/Event-logo.png")" rel="icon" type="image/png">

</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="d-flex  align-items-center">
            <li class="p-2"><a asp-controller="Home" asp-action="">Home</a></li>
            @if (ViewContext.HttpContext.Request.Cookies["User"] != null)
            {
                <li class="p-2"><a asp-controller="Home" asp-action="ListEvent">New Event</a></li>
                <li class="p-2"><a asp-controller="Event" asp-action="MyEvents">My Events</a></li>
                <li class="ml-auto dropdown">
                <a href="#" class="dropdown-toggle" id="user-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa fa-user"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="user-dropdown">
                    <a class="dropdown-item" href="#">@user.GetEmail()</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Home" asp-action="LogOut">Log Out</a>
                </div>
                </li>
            }
            else
            {
                <li class="p-2"><a asp-controller="Home" asp-action="SignUp">Sign up</a></li>
                <li class="p-2"><a asp-controller="Home" asp-action="LogIn">Log in</a></li>
            }
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Event - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
