@{
    ViewData["Title"] = "Sign Up";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" runat="server" action="@Url.Action("NewUser", "Home")" method="post">
        <label for="title">Email address :</label>
        <input type="text" id="Email" name="Email"><br>

        <label for="description">Password :</label>
        <input type="password" id="Password" name="Password"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>